
.path-valid 	{ background-color:rgba(45,68,236,0.3); }
.path-invalid { 
	background-color:rgba(236,45,68,0.3);
	background-image: url('ressource/eraser-icon.png');
	background-size : cover;
}

.tile .path-invalid { 
	background-image:none;
}

.tile {
	border-top:solid 1px #ddd;
	border-left:solid 1px #ddd;
	background-size:cover;
}

.tile.read-only {
	box-shadow:0 0 10px 21px rgba(150,150,150,0.5) inset;
}



.symbol-write,	.symbol-1 		{	background-image:url('ressource/symbols/cel-write.png');	}
.symbol-check,	.symbol-2 		{	background-image:url('ressource/symbols/cel-check.png');	}
.symbol-right,	.symbol-3 		{	background-image:url('ressource/symbols/cel-right.png'); 	}
.symbol-left,	.symbol-4 		{	background-image:url('ressource/symbols/cel-left.png'); 	}
.symbol-top,	.symbol-5 		{	background-image:url('ressource/symbols/cel-top.png'); 		}
.symbol-bot,	.symbol-6 		{	background-image:url('ressource/symbols/cel-bot.png'); 		}
.symbol-dleft,	.symbol-7 		{	background-image:url('ressource/symbols/cel-dleft.png'); 	}
.symbol-dright,	.symbol-8 		{	background-image:url('ressource/symbols/cel-dright.png'); 	}
.symbol-tright,	.symbol-9 		{	background-image:url('ressource/symbols/cel-tright.png'); 	}
.symbol-tleft,	.symbol-10 		{	background-image:url('ressource/symbols/cel-tleft.png'); 	}
.symbol-ttop,	.symbol-11	 	{	background-image:url('ressource/symbols/cel-ttop.png'); 	}
.symbol-tbot,	.symbol-12	 	{	background-image:url('ressource/symbols/cel-tbot.png'); 	}
.symbol-color1,	.symbol-13 		{	background-color:#BBA341;	}
.symbol-color2,	.symbol-14 	 	{	background-color:#A76CBA;	}
.symbol-color3,	.symbol-15 	 	{	background-color:#C23102;	}
.symbol-color4,	.symbol-16 	 	{	background-color:#01B101;	}
.symbol-color5,	.symbol-17 	 	{	background-color:#128190;	}
.symbol-color6,	.symbol-18 	 	{	background-color:#EBA914;	}
.symbol-color7,	.symbol-19 	 	{	background-color:#9012C1;	}


.selector-popUp{
	width:260px;
	height:250px;
	-webkit-transition:left 0.5s ease,top 0.5s ease;
	-moz-transition:left 0.5s ease,top 0.5s ease;
	transition:left 0.5s ease,top 0.5s ease;
}
.item {
	margin:2px;
}
.item .label{
	margin-right:10px;
	vertical-align:top;
	position:relative;
	left:-10px;
	top:3px;
	min-width:18px;
	min-height:15px;
	background-color:rgba(255,255,255,0.7);
	text-align:center;
	cursor:default;
}
.item div{
	width:32px;
	height:32px;
}


.btn.btn-success{
	-webkit-animation: bigBtn 0.7s ease;
	-moz-animation: bigBtn 0.7s ease;
	animation: bigBtn 0.7s ease;
}
@-webkit-keyframes bigBtn 
{
	0%  {-webkit-transform : scale( 1 , 1 );}
	40%  {-webkit-transform : scale( 2 , 2 );}
	60%  {-webkit-transform : scale( 1 , 1 );}
	70%  {-webkit-transform : scale( 1.4 , 1.4 );}
	80%  {-webkit-transform : scale( 1 , 1 );}
	90%  {-webkit-transform : scale( 1.2 , 1.2 );}
	100% {-webkit-transform : scale( 1 , 1 );}
}
@-moz-keyframes bigBtn 
{
	0%  {-moz-transform : scale( 1 , 1 );}
	40%  {-moz-transform : scale( 2 , 2 );}
	60%  {-moz-transform : scale( 1 , 1 );}
	70%  {-moz-transform : scale( 1.4 , 1.4 );}
	80%  {-moz-transform : scale( 1 , 1 );}
	90%  {-moz-transform : scale( 1.2 , 1.2 );}
	100% {-moz-transform : scale( 1 , 1 );}
}
@keyframes bigBtn 
{
	0%  {transform : scale( 1 , 1 );}
	40%  {transform : scale( 2 , 2 );}
	60%  {transform : scale( 1 , 1 );}
	70%  {transform : scale( 1.4 , 1.4 );}
	80%  {transform : scale( 1 , 1 );}
	90%  {transform : scale( 1.2 , 1.2 );}
	100% {transform : scale( 1 , 1 );}
}

div.popUp {
	position : absolute;
	
	border-radius : 5px;
	box-shadow : 0 0 5px 5px #666;
	background-color: white;
	
	opacity : 1;
	
	padding: 5px;
}

div.toolBox {

	position : absolute;
	
	top : 40%;
	right : 5px;
	
	width : 13%;
	min-width:200px;
	max-width:300px;
	height : 40%;
	
	border-radius : 5px;
	box-shadow : 0 0 5px 5px #666;
	background-color: white;
	
	opacity : 1;
	
	padding: 5px;


}

#popUpLayer{
	display:none;
}
#popUpLayer.active{
	display:block;
}

#description{
	text-align: justify;
	padding:10px;
}
#description p {
	text-indent:1em;
}

div.popUp:hover {
	opacity : 1;
}

div  .selector {
	width : 70px;
	height : 300px;
	
}
div  .selector .liste {
	
	margin: 5px;
	
}
div  .selector  .liste .item {
	
	margin-top: 5px;
	background-color: #CCC;
	
}

.btn{
	min-width:30px;
	min-height:30px;
	display:inline-block;
	background-size: cover;
}
.btn[title="speed down"]{
	background-image: url('ressource/speed-down-icon.png');
}
.btn[title="speed up"]{
	background-image: url('ressource/speed-up-icon.png');
}
.btn[title="next"]{
	background-image: url('ressource/next-icon.png');
}
.btn[title="play"]{
	background-image: url('ressource/play-icon.png');
}
.btn[title="route tracer"]{
	background-image: url('ressource/route-tracer-icon.png');
}
.btn[title="eraser"]{
	background-image: url('ressource/eraser-icon.png');
}
.btn[title="switch"]{
	background-image: url('ressource/gear-icon.png');
}
